@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Roboto;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    /* overflow: hidden; */
    
}

a {
    text-decoration: none;
}

.top-section {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    /* flex: 3 1 0; */
}

.header {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    gap: 30px;
}

.header a, .hero-sub {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    display: flex;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    gap: 20px
}

.below-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 100px 0px;
    flex-wrap: wrap;
}

.intro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
}

.hero-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-sub {
    margin-bottom: 6px;
}

.signup {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: 700;
    color: #F9FAF8;
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 140px;
}

.info-section{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    /* flex: 1 1 0; */
}

.randominfo {
    margin-top: 50px;
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.info-section .container {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 50px 30px 100px 30px;
    flex-wrap: wrap;
}

.info-section .entry {
    text-align: center;
    flex-basis: 150px;
}

.info-section .entry img {
    border: 2px #3882F6 solid;
    border-radius: 20px;
}