@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Roboto;
    background-color: #1F2937;
}

.header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.below-header {
    display: flex;
}
